<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.video.dao.UserDao">

    <select id="findById" resultType="org.video.entity.User">
        SELECT * FROM user WHERE userId = #{userId}
    </select>

    <select id="login" resultType="org.video.entity.User">
        SELECT * FROM user WHERE name = #{username} AND password = #{password}
    </select>

    <select id="findAll" resultType="org.video.entity.User">
        SELECT * FROM user
    </select>

    <select id="findAllByCondition" resultType="org.video.entity.User">
        SELECT * FROM user WHERE mobile = #{mobile}
    </select>

    <insert id="add" parameterType="org.video.entity.User">
        INSERT INTO user(name,age,role,password,mobile,address) VALUES(#{name},#{age},#{role},#{password},#{mobile},#{address})
    </insert>
    
    <delete id="deleteById" parameterType="org.video.entity.User">
        DELETE FROM user WHERE userId = #{userId}
    </delete>
    
    <update id="update" parameterType="org.video.entity.User">
        UPDATE user set name = #{name} ,age = #{age},role = #{role},password = #{password},mobile = #{mobile},address = #{address} WHERE userId = #{userId}
    </update>


</mapper>